
$color-vis-bg: #f6f6f6;

$color-f-a: #87c;
$color-m-a: #38c;
$color-f-b: mix($color-f-a, $color-vis-bg, 30%);
$color-m-b: mix($color-m-a, $color-vis-bg, 30%);

body {
  margin: 0;
  padding: 0;
  background-color: $color-vis-bg;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";

}

header {
  background: black;
  padding: 25px 0 25px 0;

  div.wrap {
    width: 1200px;
    margin: 0 auto;
    display: flex;

    div {

      &.title {
        flex-basis: 350px;
      }
      &.filters {
        display: flex;
        color: #999;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;

        #select-vis {
          width: 200px;
        }

        & > p {
          margin: 0 30px 0 0;
          line-height: 20px;
        }

      }
    }

  }

  h1 {
    font-size: 16px;
    color: white;
    margin: 0 0 5px 0;
  }

  h2 {
    font-size: 16px;
    color: #999;
    margin: 0;
  }

}

section {
  margin-bottom: 100px;
  overflow-x: hidden;

  h2 {
    text-align: center;
  }

  div.controls {
    font-size: 12px;
    padding: 25px;
    background: #ccc;
  }

  div.wrap-vis {
    padding: 50px 25px;
    background-color: $color-vis-bg;

    svg {
      display: block;
      margin: 0 auto;
    }

  }

  &#timeline {

    div.wrap-vis {
      div.wrap-names {
        position: absolute;
        background-color: $color-vis-bg;
      }
      div.wrap-timeline {
        margin-left: 200px;
        overflow-x: scroll;
      }
    }

    svg {

      display: inline-block;

      g.row {
        &.current-team {
          &.sex-f text,
          &.sex-f rect {
            fill: $color-f-a;
          }
          &.sex-m text,
          &.sex-m rect {
            fill: $color-m-a;
          }
        }
        &:not(.current-team) {
          &.sex-f text,
          &.sex-f rect {
            fill: $color-f-b;
          }
          &.sex-m text,
          &.sex-m rect {
            fill: $color-m-b;
          }
        }
      }

      g.season-bgs rect {
        fill: #fcfcfc;
      }

      g.year-labels,
      g.season-labels {
        text {
          fill: mix(#333, $color-f-a, 50%);
          &.alt {
            fill: mix(#333, $color-m-a, 50%);
          }
        }
      }

      text {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
      }

    }

  }

  &#tree {

    div.wrap-vis {
      overflow-x: scroll;
    }

    svg {

      g.node {

        &.highlighted {
          &.sex-f {
            fill: $color-f-a;
            circle {
              fill: $color-f-a;
            }
          }
          &.sex-m {
            fill: $color-m-a;
            circle {
              fill: $color-m-a;
            }
          }
          text {
            text-shadow:
              -1px 0 0 white,
              0 -1px 0 white,
              0 1px 0 white,
              1px 0 0 white;
          }
        }

        &:not(.highlighted) {
          &.sex-f {
            fill: $color-f-b;
            circle {
              stroke: $color-f-b;
            }
          }
          &.sex-m {
            fill: $color-m-b;
            circle {
              stroke: $color-m-b;
            }
          }
        }

        circle {
          fill: white;
          stroke-width: 2px;
        }

        text {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: bold;
        }

      }

      path.link {
        fill: none;
        opacity: 0.5;
        stroke-width: 2px;

        &.sex-f {
          stroke: $color-f-b;
        }
        &.sex-m {
          stroke: $color-m-b;
        }

      }

    }

  }

}
