
$color-vis-bg: #f6f6f6;

$color-f-a: #3c9;
$color-m-a: #39c;
$color-f-b: mix($color-f-a, $color-vis-bg, 30%);
$color-m-b: mix($color-m-a, $color-vis-bg, 30%);

$color-selected: #96f;

body {
  margin: 0;
  padding: 0;
  background-color: $color-vis-bg;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";

  &.show-timeline #timeline,
  &.show-tree #tree {
    display: block;
  }

}

header {
  background: black;
  padding: 25px;

  div.wrap {
    width: 1100px;
    margin: 0 auto;
    display: flex;

    div {

      &.title {
        flex-basis: 350px;
      }
      &.filters {
        display: flex;
        color: #999;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;

        #select-vis {
          width: 200px;
        }

        & > p {
          margin: 0 30px 0 0;
          line-height: 20px;
        }

      }
    }

  }

  h1 {
    font-size: 16px;
    color: white;
    margin: 0 0 5px 0;
  }

  h2 {
    font-size: 16px;
    color: #999;
    margin: 0;
  }

}

section {
  margin-bottom: 100px;
  overflow-x: hidden;
  display: none;

  h2 {
    text-align: center;
  }

  div.controls {
    font-size: 12px;
    padding: 25px;
    background: #ccc;
  }

  div.wrap-vis {
    padding: 50px 25px;
    background-color: $color-vis-bg;

    svg {
      display: block;
      margin: 0 auto;
    }

  }

  &#timeline {

    div.wrap-vis {
      div.wrap-names {
        position: absolute;
        background-color: $color-vis-bg;
      }
      div.wrap-timeline {
        margin-left: 200px;
        overflow-x: scroll;
      }
    }

    svg {

      display: inline-block;

      g.row.selected text,
      g.row.selected rect {
        fill: $color-selected !important;
      }

      g.row {
        &.highlighted {

          &.sex-f text,
          &.sex-f rect {
            fill: $color-f-a;
            cursor: pointer;
          }
          &.sex-m text,
          &.sex-m rect {
            fill: $color-m-a;
            cursor: pointer;
          }
        }
        &:not(.highlighted) {
          pointer-events: none;
          &.sex-f text,
          &.sex-f rect {
            fill: $color-f-b;
          }
          &.sex-m text,
          &.sex-m rect {
            fill: $color-m-b;
          }
        }
      }

      g.season-bgs rect {
        fill: #fcfcfc;
      }

      g.year-labels,
      g.season-labels {
        text {
          fill: mix(#333, $color-f-a, 50%);
          &.alt {
            fill: mix(#333, $color-m-a, 50%);
          }
        }
      }

      text {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: default;
      }

    }

  }

  &#tree {

    div.wrap-vis {
      overflow-x: scroll;
    }

    svg {

      g.node {

        &.root {
          pointer-events: none;
        }

        &.highlighted {
          &.sex-f {
            fill: $color-f-a;
            circle {
              fill: $color-f-a;
            }
          }
          &.sex-m {
            fill: $color-m-a;
            circle {
              fill: $color-m-a;
            }
          }
          text {
            text-shadow:
              -1px 0 0 white,
              0 -1px 0 white,
              0 1px 0 white,
              1px 0 0 white;
          }
        }

        &:not(.highlighted) {
          pointer-events: none;
          &.sex-f {
            fill: $color-f-b;
            circle {
              stroke: $color-f-b;
            }
          }
          &.sex-m {
            fill: $color-m-b;
            circle {
              stroke: $color-m-b;
            }
          }
        }

        &:hover {
          circle,
          text {
            fill: $color-selected !important;
            cursor: pointer;
          }
        }

        circle {
          fill: white;
          stroke-width: 2px;
        }

        text {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: bold;
        }

      }

      path.link {
        fill: none;
        opacity: 0.5;
        stroke-width: 2px;

        &.sex-f {
          stroke: $color-f-b;
        }
        &.sex-m {
          stroke: $color-m-b;
        }

      }

    }

  }

}

#tooltip {
  opacity: 0;
  pointer-events: none;

  width: 150px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translate(-50%, -100%);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);

  transition:
    opacity 0.3s ease 0.1s;

  &.below {
    transform: translate(-50%, 15px);
  }

  &.on {
    opacity: 1;
    transition:
      opacity 0.2s ease;
  }

  h3 {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0;
  }

  table,
  tr,
  td {
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-transform: uppercase;
  }

  table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;

    td {
      width: 50%;
      border: 1px solid #ddd;
      padding: 5px;
    }
    td:last-child {
      font-weight: bold;
    }
  }


}
